<div class="nav-container">

  <button class="nav-btn api1" (click)="navigateTo('api1')">
    Data Source
  </button>

  <button class="nav-btn api2" (click)="navigateTo('api2')">
    Control Instance
  </button>

  <button class="nav-btn api3" (click)="navigateTo('api3')">
    Pages
  </button>

  <button class="nav-btn api4" (click)="navigateTo('api4')">
    Event
  </button>

  <button class="nav-btn api5" (click)="navigateTo('api5')">
    draft-evaluate
  </button>


<!--
  <button class="nav-btn expenses" (click)="navigateTo('expenses')">
    Expenses From Pages
  </button>

  <button class="nav-btn expenses-control" (click)="navigateTo('expensesControl')">
    Expenses From Control
  </button>

  <button class="nav-btn ds-data" (click)="navigateTo('dsData')">
    Data related DS name
  </button> -->

</div>
